* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 212, 248);
}

.container {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 25%;
}


.headline {
    
}

.btn {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: blue;
    color: white;
}



.modal {
    position: relative;
    z-index: 10;
    display: none; 
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: -40%;
}

.modal h2 {
    background-color: rgb(54, 57, 243);
    color: #fff;
    height: 70px;
    text-align: center;
}

.modal p {
    background-color: #fff;
    height: 200px;
    margin-top: -20px;
    line-height: 1.3rem;
}

.modal-header {
    padding-top: 20px;
}
 .modal-p {
     padding-top: 30px;
     padding-left: 50px;
     padding-right: 50px;
 }


.modal-button {
    background: rgb(231, 231, 231);
    width: 500px;
    height: 70px;
    margin-top: -20px;
}

.modal-btn {
    background-color: rgb(54, 57, 243);
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
}